<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="layoutPattern">%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</Property>
    </Properties>

    <Appenders>
        <RollingFile name="fileLogger" fileName="deid.log" filePattern="deid-%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="${layoutPattern}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
            </Policies>
        </RollingFile>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${layoutPattern}"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="gate.util.Benchmark" level="OFF"/>
        <Logger name="gate.util.GateClassLoader" level="ERROR"/>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="fileLogger"/>
        </Root>
    </Loggers>
</Configuration>
